-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: school_db21
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `students`
--

DROP TABLE IF EXISTS `students`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `students` (
  `student_id` int(11) NOT NULL AUTO_INCREMENT,
  `student_number` varchar(50) NOT NULL,
  `first_name` varchar(100) NOT NULL,
  `middle_name` varchar(100) DEFAULT NULL,
  `last_name` varchar(100) NOT NULL,
  `email` varchar(255) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `date_of_birth` date DEFAULT NULL,
  `gender` enum('Male','Female','Other') DEFAULT NULL,
  `program_id` int(11) DEFAULT NULL,
  `year_level` int(11) DEFAULT 1,
  `current_semester` int(11) DEFAULT 1,
  `cumulative_gpa` decimal(3,2) DEFAULT NULL,
  `academic_standing` varchar(50) DEFAULT 'Good Standing',
  `status` enum('Active','Inactive','Graduated') DEFAULT 'Active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`student_id`),
  UNIQUE KEY `student_number` (`student_number`),
  KEY `idx_program` (`program_id`),
  KEY `idx_status` (`status`),
  KEY `idx_name_search` (`last_name`,`first_name`),
  KEY `idx_status_program_name` (`status`,`program_id`,`last_name`,`first_name`),
  CONSTRAINT `students_ibfk_1` FOREIGN KEY (`program_id`) REFERENCES `programs` (`program_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `students`
--

LOCK TABLES `students` WRITE;
/*!40000 ALTER TABLE `students` DISABLE KEYS */;
/*!40000 ALTER TABLE `students` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `enrollments`
--

DROP TABLE IF EXISTS `enrollments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `enrollments` (
  `enrollment_id` int(11) NOT NULL AUTO_INCREMENT,
  `student_id` int(11) NOT NULL,
  `curriculum_id` int(11) NOT NULL,
  `academic_year` varchar(20) NOT NULL,
  `midterm_grade` decimal(3,2) DEFAULT NULL,
  `final_grade` decimal(3,2) DEFAULT NULL,
  `status` enum('Enrolled','Passed','Failed') DEFAULT 'Enrolled',
  `enrolled_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`enrollment_id`),
  UNIQUE KEY `unique_enrollment` (`student_id`,`curriculum_id`,`academic_year`),
  KEY `idx_student_year` (`student_id`,`academic_year`),
  KEY `idx_enrollment_status` (`status`),
  KEY `idx_ay_status_student` (`academic_year`,`status`,`student_id`),
  KEY `idx_curr_ay_status` (`curriculum_id`,`academic_year`,`status`),
  CONSTRAINT `enrollments_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `students` (`student_id`) ON DELETE CASCADE,
  CONSTRAINT `enrollments_ibfk_2` FOREIGN KEY (`curriculum_id`) REFERENCES `curriculum` (`curriculum_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=385 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `enrollments`
--

LOCK TABLES `enrollments` WRITE;
/*!40000 ALTER TABLE `enrollments` DISABLE KEYS */;
/*!40000 ALTER TABLE `enrollments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payments` (
  `payment_id` int(11) NOT NULL AUTO_INCREMENT,
  `student_id` int(11) NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `payment_date` datetime DEFAULT current_timestamp(),
  `academic_year` varchar(20) NOT NULL,
  `semester` int(11) NOT NULL,
  `reference_no` varchar(50) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  PRIMARY KEY (`payment_id`),
  KEY `idx_student_ay_sem` (`student_id`,`academic_year`,`semester`),
  KEY `idx_ay_sem` (`academic_year`,`semester`),
  CONSTRAINT `payments_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `students` (`student_id`)
) ENGINE=InnoDB AUTO_INCREMENT=45 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `semester_status`
--

DROP TABLE IF EXISTS `semester_status`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `semester_status` (
  `status_id` int(11) NOT NULL AUTO_INCREMENT,
  `student_id` int(11) NOT NULL,
  `year_level` int(11) NOT NULL,
  `semester` int(11) NOT NULL,
  `academic_year` varchar(20) NOT NULL,
  `status` enum('In Progress','Completed','Incomplete') DEFAULT 'In Progress',
  `gpa` decimal(3,2) DEFAULT NULL,
  `total_units` int(11) DEFAULT 0,
  `completed_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`status_id`),
  UNIQUE KEY `unique_semester` (`student_id`,`year_level`,`semester`,`academic_year`),
  KEY `idx_student_status` (`student_id`,`status`),
  KEY `idx_student_ay_sem_status` (`student_id`,`academic_year`,`semester`,`status`),
  CONSTRAINT `semester_status_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `students` (`student_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `semester_status`
--

LOCK TABLES `semester_status` WRITE;
/*!40000 ALTER TABLE `semester_status` DISABLE KEYS */;
/*!40000 ALTER TABLE `semester_status` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_scholarships`
--

DROP TABLE IF EXISTS `student_scholarships`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student_scholarships` (
  `student_scholarship_id` int(11) NOT NULL AUTO_INCREMENT,
  `student_id` int(11) NOT NULL,
  `scholarship_id` int(11) NOT NULL,
  `academic_year` varchar(20) NOT NULL,
  `semester` int(11) NOT NULL,
  `status` enum('Active','Revoked','Expired') DEFAULT 'Active',
  `awarded_date` date DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`student_scholarship_id`),
  UNIQUE KEY `unique_student_scholarship_term` (`student_id`,`scholarship_id`,`academic_year`,`semester`),
  KEY `idx_student_term` (`student_id`,`academic_year`,`semester`),
  KEY `idx_ay_sem_status` (`academic_year`,`semester`,`status`),
  KEY `idx_scholarship_ay_sem` (`scholarship_id`,`academic_year`,`semester`),
  CONSTRAINT `student_scholarships_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `students` (`student_id`) ON DELETE CASCADE,
  CONSTRAINT `student_scholarships_ibfk_2` FOREIGN KEY (`scholarship_id`) REFERENCES `scholarships` (`scholarship_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_scholarships`
--

LOCK TABLES `student_scholarships` WRITE;
/*!40000 ALTER TABLE `student_scholarships` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_scholarships` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `academic_standings`
--

DROP TABLE IF EXISTS `academic_standings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `academic_standings` (
  `standing_id` int(11) NOT NULL AUTO_INCREMENT,
  `student_id` int(11) NOT NULL,
  `academic_year` varchar(20) NOT NULL,
  `semester` int(11) NOT NULL,
  `gpa` decimal(3,2) NOT NULL,
  `standing` enum('Good Standing','Dean''s List','With Honors','Probation','Dismissed','Warning') NOT NULL DEFAULT 'Good Standing',
  `total_units_taken` int(11) DEFAULT 0,
  `total_units_passed` int(11) DEFAULT 0,
  `remarks` text DEFAULT NULL,
  `evaluated_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`standing_id`),
  UNIQUE KEY `unique_standing` (`student_id`,`academic_year`,`semester`),
  KEY `idx_standing` (`standing`),
  KEY `idx_student_standing` (`student_id`,`academic_year`),
  KEY `idx_ay_sem_standing` (`academic_year`,`semester`,`standing`),
  CONSTRAINT `academic_standings_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `students` (`student_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `academic_standings`
--

LOCK TABLES `academic_standings` WRITE;
/*!40000 ALTER TABLE `academic_standings` DISABLE KEYS */;
/*!40000 ALTER TABLE `academic_standings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `term_overpayments`
--

DROP TABLE IF EXISTS `term_overpayments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `term_overpayments` (
  `overpayment_id` int(11) NOT NULL AUTO_INCREMENT,
  `student_id` int(11) NOT NULL,
  `source_academic_year` varchar(20) NOT NULL,
  `source_semester` int(11) NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `applied_academic_year` varchar(20) DEFAULT NULL,
  `applied_semester` int(11) DEFAULT NULL,
  `is_applied` tinyint(1) DEFAULT 0,
  `applied_date` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`overpayment_id`),
  KEY `idx_student_overpayment` (`student_id`,`is_applied`),
  KEY `idx_source_term` (`student_id`,`source_academic_year`,`source_semester`),
  CONSTRAINT `term_overpayments_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `students` (`student_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `term_overpayments`
--

LOCK TABLES `term_overpayments` WRITE;
/*!40000 ALTER TABLE `term_overpayments` DISABLE KEYS */;
/*!40000 ALTER TABLE `term_overpayments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_late_fees`
--

DROP TABLE IF EXISTS `student_late_fees`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student_late_fees` (
  `late_fee_id` int(11) NOT NULL AUTO_INCREMENT,
  `student_id` int(11) NOT NULL,
  `academic_year` varchar(20) NOT NULL,
  `semester` int(11) NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `applied_date` date NOT NULL,
  `reason` varchar(255) DEFAULT NULL,
  `is_waived` tinyint(1) DEFAULT 0,
  `waived_by` varchar(100) DEFAULT NULL,
  `waived_date` date DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`late_fee_id`),
  KEY `idx_student_term_late` (`student_id`,`academic_year`,`semester`),
  CONSTRAINT `student_late_fees_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `students` (`student_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_late_fees`
--

LOCK TABLES `student_late_fees` WRITE;
/*!40000 ALTER TABLE `student_late_fees` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_late_fees` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-19 23:48:32
